.slideshow {
  display: flex;
  flex-direction: column;
  width: 47em;
  height: 19em;
  overflow: hidden;
  margin: 0 auto;
  align-items: center;
}

.slideshow img {
  width: 100%;
  height: 100%;
}

.slideSelectors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top:0;
  width: auto;
  z-index: 999;
  margin-top: 1em;
}

.selectorContainer {
  margin: 0 1em;
}

.selectorContainer .selector {
  display: inline-block;
  padding: 10px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 50%;
  border: #fff 0.125em solid;
}

.selectorContainer .active {
  background: #fff;
}

.arrow {
  color: #fff;
}

@media (max-width: 768px) {
  .slideshow {
    width: 100%;
  }
}
